pipeline/PL_FetchApiToBlob.json
{
	"name": "PL_FetchApiToBlob",
	"properties": {
		"activities": [
			{
				"name": "GetApiList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ApiListJson",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_ApiLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetApiList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetApiList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "WriteToBlob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetApiResponseFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Input_REST",
									"type": "DatasetReference",
									"parameters": {
										"baseUrl": "@item().baseUrl",
										"relativeUrl": "@item().relativeUrl"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Output_JSON",
									"type": "DatasetReference",
									"parameters": {
										"apiName": {
											"value": "@variables('api_response_file_name')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SetApiResponseFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "api_response_file_name",
								"value": {
									"value": "@concat(item().apiName, '_', utcNow(), '.json')\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "WriteToSqlServer",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "WriteToBlob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Output_JSON",
									"type": "DatasetReference",
									"parameters": {
										"apiName": {
											"value": "@variables('api_response_file_name')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_APIRespTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().apiName\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach_ApiLoop",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"content-type": "application/json"
					},
					"url": {
						"value": "https://prod-04.centralindia.logic.azure.com:443/workflows/f9ab4e979cfd40479acc0daa4613bc49/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=xZLeSUD4p9ziJ3qwGSvK61QQqIKKs87w-MdayAngh5Y",
						"type": "Expression"
					},
					"body": "{\"pipelineName\":\"@pipeline().Pipeline\",\"runId\":\"@pipeline().RunId\""
				}
			}
		],
		"parameters": {
			"baseUrl": {
				"type": "string"
			},
			"relativeUrl": {
				"type": "string"
			},
			"apiName": {
				"type": "string"
			}
		},
		"variables": {
			"api_response_file_name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-14T06:08:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}