pipeline/PL_IncrementalLoad_FilesFromSql.json
{
	"name": "PL_IncrementalLoad_FilesFromSql",
	"properties": {
		"activities": [
			{
				"name": "Get_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select top 1 lastprocesseddate from [dbo].[FileWatermark] where pipelinename = 'PL_IncrementalLoad_FilesFromSql' order by lastprocesseddate desc",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FileWatermarkTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set CurrentTimetamp Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_IncrementalLoadTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_LatestFiles",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set CurrentTimetamp Value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentTimestamp",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat(\n    'INSERT INTO [dbo].[FileWatermark] VALUES(''PL_FetchDataFromSqlToAdlsUsingIncrementalLoading'', ''',\n    formatDateTime(variables('currentTimestamp'), 'yyyy-MM-dd HH:mm:ss'),\n    ''')'\n)\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Get_Student_Data",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "@concat('SELECT MAX([ModifiedDate]) AS MaxTS FROM [dbo].[student] WHERE [ModifiedDate] > ''', variables('prevWatermark'), '''')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_IncrementalLoadTable",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"SourceFolder": {
				"type": "string",
				"defaultValue": "DynamicFiles"
			}
		},
		"variables": {
			"currentTimestamp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}