pipeline/PL_IncrementalLoad_Files.json
{
	"name": "PL_IncrementalLoad_Files",
	"properties": {
		"activities": [
			{
				"name": "Get_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TOP 1 LastWatermark FROM dbo.FileWatermark ORDER BY Id DESC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FileWatermarkTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get_FileList",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_InputFolder",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": "@pipeline().parameters.SourceFolder",
							"FileName": "@item().name"
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_NewFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_FileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_FileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item().lastModified, activity('Get_Watermark').output.firstRow.LastWatermark)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_NewFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_NewFiles').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_File",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.SourceFolder",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_InputFolder",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "@pipeline().parameters.SourceFolder",
										"FileName": {
											"value": "@item().FielName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_LatestFiles",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Update_Watermark",
				"type": "StoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "usp_UpdateWatermark",
					"dataset": {
						"referenceName": "DS_WatermarkTable",
						"type": "DatasetReference"
					},
					"storedProcedureParameters": {
						"NewWatermark": {
							"value": "@utcNow()",
							"type": "String"
						}
					}
				}
			}
		],
		"parameters": {
			"SourceFolder": {
				"type": "string",
				"defaultValue": "DynamicFiles"
			}
		},
		"annotations": []
	}
}