pipeline/PL_PySparkIntegrationComprehendDataFromAdlsToSql_copy1.json
{
	"name": "PL_PySparkIntegrationComprehendDataFromAdlsToSql_copy1",
	"properties": {
		"activities": [
			{
				"name": "Listoftables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DynamicTableName",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "ListOfTables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Listoftables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Listoftables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LastWatermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT WatermarkValue FROM WatermarkTable WHERE TableName='@{item().TableName}'",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_FileWatermarkTable_copy1",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "NewWatermark",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LastWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(@{item().WatermarkColumn}) AS NewWaterMarkValue FROM @{item().TableName}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_DynamicTableName",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "@{item().TableName}"
									}
								}
							}
						},
						{
							"name": "CopyTabletoBlob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "NewWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().TableName} WHERE @{item().WatermarkColumn} > '@{activity('LastWatermark').output.firstRow.WatermarkValue}' AND @{item().WatermarkColumn} <= '@{activity('NewWatermark').output.firstRow.NewWaterMarkValue}'",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SqlTableDynamic",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "@{item().TableName}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BlobDynamicCsv",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "UpdateWatermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyTabletoBlob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_newWatermarkvalue]",
								"storedProcedureParameters": {
									"TableName": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "Expression"
									},
									"LastModifiedtime": {
										"value": {
											"value": "@{activity('NewWatermark').output.firstRow.NewWaterMarkValue}",
											"type": "Expression"
										},
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string",
				"defaultValue": "PL_IncrementalLoad_FilesFromSqlBulk"
			}
		},
		"annotations": []
	}
}